.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

/* ?nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 160px;
}

nav ul li {
  list-style: none;
}

h3 {
  
  font-size: 32px;
  font-weight: 700;
  color: #0E0E0E;
  padding: 117px 64px 0 59.99;

}

button {
  padding: 15px 30px;
  border-radius: 8px;
  border-color: #006A50;
  color: #006A50;
  font-size: 18px;
  font-weight: 600;
  background-color: none;
  /* margin:24px 160px 24px 1324px */
}

/* banner styles */
.banner-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: rgba(14, 14, 14, 0.5);
}

.banner-heading {
  font-size: 56px;
  font-weight: 700;
  color: #0E0E0E;
  margin: 0;
}

.button-2 {
  font-size: 18px;
  font-weight: 600;
  border-color: none;
  border-radius: 8px;
  margin: 24px 0 0 0;
  padding: 17px 34px;
  background-color: #006A50;
  color: #FFFFFF;
}

.banner {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  max-height: 560px;
  margin: 0 160px 0 160px;   
}

.banner-content {
  max-width: 1280px;
  padding: 117px 59.99px 117px 64px;

}

.secondary-bg {
  background-color: #C6E4D6;
  border-radius: 24px;
}

.dp {
  width: 474.03px;
  height: 400px;
  padding: 80px 69.99px 80px 0;
}
.banner-content2{
  display: flex; */
  justify-content: space-between;
  margin: 80px 160px 32px 160px;
  color: #0E0E0E;
}
.banner-title2{
  font-size: 40px;
  font-weight: 700;
}
 /* skills/pillars-container */
.pillar-container{
  display: flex;
  backdrop-filter: blur(4px);
  gap: 24px;
  margin: 32px 160px 80px 160px;
}
.skill{
  padding: 112px 24px 24px 24px;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(14, 14, 14, 0.15);
  /* backdrop-filter: blur(4px); */
  /* stroke: rgba(14, 14, 14, 0.15); */
}
.vision-container{
  display: flex;
  gap: 24px;
  /* margin: 32px 160px 32px 160px; */
}

.vision{
  /* padding: 120px 32px 97px 32px; */
  border-radius: 16px;
}

.bg-1{
  background-color: rgba(84, 144, 245, 0.2);
  margin: 32px 24px 32px 160px;
  padding: 120px 32px 97px 32px;
}
.btn-1{
  background-color: #5490F5;
  /* margin: 24px 256.67px 32px 32px; */
  padding: 11px 20px 11px 20px;
  color: #FFFFFF;
  border: none;
  font-size: 16;
  font-weight: 600;
}

.bg-2{
  background-color: #C6E4D6;
  /* max-width: 410.67px; */
  padding: 120px 32px 97px 32px;
  margin: 32px 24px 32px 24px;
}
.btn-2{
  background-color: #09A15C;
  /* margin: 24px 256.67px 32px 32px; */
  padding: 11px 20px 11px 20px;
  color: #FFFFFF;
  border: none;
  font-size: 16;
  font-weight: 600;
}

.bg-3{
  background-color: #F7EBCF;
  padding: 120px 32px 97px 32px;
  margin: 32px 160px 32px 24px;
}
.btn-3{
  background-color: #FFC239;
  /* margin: 24px 256.67px 32px 32px; */
  padding: 11px 20px 11px 20px;
  color: #FFFFFF;
  border: none;
  font-size: 16;
  font-weight: 600;
}
.banner-content3{
  margin: 80px 160px 80px 160px; 
}
.bcontent1{
  font-size: 40px;
  font-weight: 700;

}
.vision-title{
  font-size: 20px;
  font-weight: 700;
}
.vision-description{
  font-size: 16px;
  font-weight: 400;
}

.title1{
  font-size: 40px;
  font-weight: 700;
}
.body1{
  font-size: 16px;
  font-weight: 400;
}
.news-main{
  margin: 80px 160px 32px 160px;
}
.news-content{
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(14, 14, 14, 0.15);
  border-radius: 24px;
  margin: 32px 160px 24px 160px;
  
}
.img1{
  padding: 48px 32px 48px 48px;
  
  
}
.new2{
  padding: 56px 48px 56px 32px;
}
.btn-4{
  background-color: #006A50;
  color: #FFFFFF;
  padding: 13px 26px 13px 26px;
  border-radius: 8px;
}
.news-content2{
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(14, 14, 14, 0.15);
  border-radius: 24px;
  margin: 24px 160px 24px 160px;
}

.btn-5{
  background-color: #006A50;
  color: #FFFFFF;
  padding: 13px 26px 13px 26px;
  border-radius: 8px;
}
.new3{
  padding: 56px 32px 56px 48px;
}
.img2{
  padding: 48px 48px 48px 32px;
}
.donate-banner{
  margin: 80px 160px 80px 160px;
  /* align-items: center; */
}

.clk1{
padding: 40px 40px 40px 40px;
font-size: 40px;
font-weight: 700;
border-style: solid;
  border-width: 1px;
  border-color: rgba(14, 14, 14, 0.15);
  color: rgba(14, 14, 14, 0.8);
  background-color: #FFFFFF;
  margin: 32px 24px 32px 10px;
}
.clk2{
  padding: 40px 40px 40px 40px;
  font-size: 40px;
font-weight: 700;
border-style: solid;
  border-width: 1px;
  border-color: rgba(14, 14, 14, 0.15);
  color: rgba(14, 14, 14, 0.8);
  background-color: #FFFFFF;
  margin: 32px 24px 32px 24px;
}

.clk3{
  padding: 40px 40px 40px 40px;
  font-size: 40px;
font-weight: 700;
border-style: solid;
  border-width: 1px;
  border-color: rgba(14, 14, 14, 0.15);
  color: rgba(14, 14, 14, 0.8);
  background-color: #FFFFFF;
  margin: 32px 24px 32px 24px;
}
.clk4 {
  padding: 40px 40px 40px 40px;
  font-size: 40px;
font-weight: 700;
border-style: solid;
  border-width: 1px;
  border-color: rgba(14, 14, 14, 0.15);
  color: rgba(14, 14, 14, 0.8);
  background-color: #FFFFFF;
  margin: 32px 10px 32px 24px;
}
.othertk{
  padding: 20px 422.5px 20px 422.5px;
  background-color: #FFFFFF;
  margin: 32px 100px 32px 100px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(14, 14, 14, 0.15);
  color: rgba(14, 14, 14, 0.8);
}
.titlecenter{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #0E0E0E;
}
.titlecenter2{
  text-align: center;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.btn-6{
  background-color: #006A50;
  color: #FFFFFF;
  padding: 17px 34px 17px 34px;
  font-size: 18px;
  font-weight: 600;
  margin: 32px 500px 0 500px;
}
.clk1:hover,.clk2:hover,.clk3:hover,.clk4:hover{
  background-color: #C6E4D6;
}
.speech{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.8);
  padding: 48px 24px 12px 24px;
}
.speaker{
  font-size: 20px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
  padding: 12px 24px 4px 24px;
}
.position{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.6);
  padding: 4px 24px 48px 24px;
}
.dr-yunus{
  margin: 32px 160px 80px 160px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background-image: url(quote-bg.png);
  background-repeat: no-repeat;
  background-position: 2% 13%;
}